<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
			• CodeXpress</title>
		<link rel="icon" href={{ asset('images/favicon.png') }}>
		<link rel="stylesheet" href="https://unpkg.com/papercss@1.9.2/dist/paper.min.css">
		<link rel="stylesheet" href={{ asset('style.css') }}>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="row">
			<img src={{ asset('images/logo-codexpress.svg') }} width="200" alt="CodeXpress Partage de code">
			<div>
				<span {{ stimulus_controller('symfony/ux-typed', {
                    strings: [ 
                        'I ❤️ Symfony UX!', 
                        'Symfony UX Typed loves to type', 
                        'Symfony UX Typed and backspace', 
                        'Control the speed', 
                        'Control the cursor', 
                        'Control your destiny!!!', 
                        'Control your destiny... sort of', ], 
                        loop: true, 
                        showCursor: true, 
                        cursorChar: '✨', 
                        })
                    }}>
                </span>
			</div>
		</div>
		<div class="container"> {% block body %}{% endblock %}
			</div>
			<script src={{ asset('main.js') }}></script>
		</body>
	</html>
